@import "./variables";

@mixin header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $primaryColor;
    color: $txt-color-fixos;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


@mixin footer {
    background: $primaryColor;
    color: $txt-color-fixos;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@mixin sidebar {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    height: 100%;
    top: 40px;
}
