@import "./variables";

@mixin header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $primaryColor;
    color: $txt-color-fixos;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


@mixin footer {
    background: $primaryColor;
    color: $txt-color-fixos;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@mixin sidebar {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    height: 100%;
    top: 40px;
}


@mixin clicaveis {
    color: $txt-color-fixos;
    text-decoration: none;
    margin: 0;
    padding: 0.5em 1em;
    background-color: $primaryColor;
    text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px #333;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

@mixin navegacao {
    background-color: inherit;
    color: rgb(238, 66, 172);
    text-align: center;
}

@mixin title-style {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    color: $txt-color-fixos;
    text-decoration: none;
    margin: 0;
    padding: 0.5em 1em;
    background-color: $primaryColor;
    text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px #333;
}