@import "./functions";
@import "./mixins";
@import "./reset";
@import "./variables";



   
body {
    @include body;
}


/* Header fixo no topo */
.header {
    @include header;
}


.nav-list-cabecalho {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        list-style: none;
    }
}



.nav-item-cabecalho {
    margin: 0 10px;
    a {
        color: #fff;
        text-decoration: none;
    }
}



/* Container principal */
.container {
    @include container;
}

/* Conteúdo principal com a sidebar à esquerda */
.content {
    display: flex;
    flex: 1;
}

/* Sidebar à esquerda */
.sidebar {
    @include sidebar;
    ul {
        @include sidebarUl;
    }
    li {
        margin: 2px 0;
    }
    a {
        @include sidebarA;
    }
    a:hover {
        background: rgb(2,0,36);
        background: linear-gradient(128deg, rgba(2,0,36,0.80015756302521) 5%, rgba(242,130,231,1) 86%);    }
}

.titulo-indice{
    @include navegacao;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    margin: 2.5% 0;
}

.nav-item a {
    @include clicaveis;
}

.nav-item a:active {
    box-shadow: 0 0 0 0, inset 3px 3px 3px #333;
    transform: translate3d(3px, 3px);
}

/* Main content ajustado para a sidebar */
main {
    flex: 1;
    margin-left: 210px; /* Largura da sidebar + margem */
    padding: 10px;
    background-image: url(../assets/foto1.png);
}

.title-style {
    @include title-style;
}

.apresentacao {
   @include apresentacao;
}

.name {
    @include name;
    
}

.grid {
    @include grid;
  }
  
  .box {
    @include box;
    
    h3 {
      margin-top: 0;
      font-size: 1.5em;
    }
    
    p {
      margin: 0;
      font-size: 1em;
    }
  }
  
  
  .box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8 { 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   }
  

/* Footer fixo na parte inferior */
.footer {
    @include footer;
}

.image {
    @include image;
  }
  
.image-overlay {
    @include image-overlay;
  }

  .title-click {
    @include title-click;
  }